<nav class="navbar navbar-default">
  <div class="container-header">
    <a class="navbar-brand" href="#">Home</a>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="acitve">
        <a class="page-scroll" [routerLink]="['/demo']">Profile</a>
      </li>
      <li routerLinkActive="active">
        <a class="page-scroll"[routerLink]="['/demo1']">Experience</a>
      </li>
      <li routerLinkActive="active">
        <a class="page-scroll"[routerLink]="['/abilities']">Abilities</a>
      </li>
      <li routerLinkActive="active">
        <a class="page_scroll"[routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  </div>
</nav>