<p>
  <body style="background-color: #F781D8"> 
    <div id="main">
      <table style="width: 30%" align="center">
        <tr><h2>Curriculum</h2></tr>
        <br>
        <br>
      </table>
    </div>
    <table style="width: 80%">
      <h3>
      <tr>Nombre</tr>
      </h3>
      <h4>
      <tr>Nicole Barreto Gumiel</tr>
      </h4>
      <br>
      <br>
      <h3>
      <tr>Fecha de Nacimiento</tr>
      </h3>
      <h4>
      <tr>20 de Mayo de 1996</tr>
      </h4>
      <br>
      <br>
      <h3>
      <tr>Location</tr>
      </h3>
      <h4>
        <tr>Cochabamba - Bolivia</tr>
      </h4>
      <br>
      <br>
      <h3>
        <tr>Estado Civil</tr>
      </h3>
      <h4>
        <tr>Soltera</tr>
      </h4>
    </table>
  </body>
</p>
