<p>
  <body style="background-color:#E2A9F3 "> 
    <div id="main">
        <table style align="center">
            <tr><h2>Curriculum</h2></tr>
            <br>
            <tr><img src="https://scontent.flpb3-1.fna.fbcdn.net/v/t1.0-9/20728377_10203594884348625_691551019885024829_n.jpg?oh=33a3624372c67486cfe60511b5b16839&oe=5A4239DA"  width="300" height="300"></tr>
            <br>
          </table>
          <br>
          <table style="width:100">
      <h4>
      <tr>
        <td>Nombre</td>
        <td></td>
        <td>Nicole Barreto Gumiel</td>
      </tr>
      <br>
      <tr>
        <td>Edad</td>
        <td>21 años</td>
      </tr>
      <br>
      <tr>
        <td>Nacionalidad</td>
        <td></td>
        <td>Santa Cruz - Bolivia</td>
      </tr>
      <br>
      </h4>
    </table>
    <br>
    <br>
    <br>
    <h4>Me considero una persona responsable,divertida y comprometida; me gusta involucrarme en actividades de bien social. Suelo involucrarme demasiado en las actividades con las que me comprometo hasta lograr ver los resultados que deseo o espero. 
      <br>
      <br>
      Suelo ser una persona muy competitiva y ansiosa, soy una persona muy activa ya que hoy en día me encuentro como lider de un proyecto voluntario, vicepresidenta del centro de mi carrera y soy parte de la FREUCB, aparte de realizar deporte los sábados y miercoles.
    </h4>
    </div>
  </body>
</p>
