<body style="background-color:#D0A9F5 "> 
    <table style align="center">
      <tr><h3>HABILIDADES</h3></tr>
    </table>
    <br>
    <br>
</body> 
<ul>
  <h4>
    <li *ngFor="let habilidad of habilidades">
        <div class="col-md-2">
          {{habilidad.nombre}}
        </div>
        <br>
        <div class="col-md-2">
          {{habilidad.puntaje}}
        </div>
        <br>
        <div class="col-md-2">
          <img src= {{habilidad.src}} height="100" width="100">
        </div>
        <br>
        <br>
      </li>
  </h4>
</ul>

