    <body style="background-color: #D358F7">
        <table style="width: 30%" align="center">
          <tr><h2>EXPERIENCE</h2></tr>
          <br>
          <br>
        </table>
      <div style="float: left; width: 45%">
          <table style="width: 80%" > 
              <h3><tr>Educación</tr></h3>
              <br>
              <h4><tr>Universidad Catolica Boliviana</tr></h4>
              <h5><tr>2014 -2017</tr>
                <tr> Cochabamba - Bolivia</tr>
              </h5>
              <br>
              <h4>
                <tr>Rio Nuevo Berea</tr>
              </h4>
              <h5>
                <tr>2002</tr>
                <tr>Santa Cruz - Bolivia</tr>
              </h5>
                <br>
                <h4>
                <tr>Instituto Americano Juan Wesley</tr>
              </h4>
              <h5>
                <tr>2003 - 2005</tr>
                <tr>Santa Cruz - Bolivia</tr>
                <br>
              </h5>
               <h4>
                <tr>Colegio Isaac Attie </tr>
              </h4>
      
          <h5>
              <tr>2006 -2013</tr>
              <tr>Cochabamba - Bolivia</tr>
            </h5>
            <br>
            <h4>
              <tr>Start America`s together</tr>
            </h4>
            <h5>
              <tr>2017</tr>
              <tr>Cochabamba - Bolivia</tr>
            </h5>
          </table>
      </div>
      <div style="float: right; width: 45%" >
        
          <h4>Educación Escolar</h4>
          <br>
          <h4>Me gradue del colegio con honores, entre al cuadro de honor los ultimos tres años de colegio, participe en las olimpiadas de química, física y matemáticas.</h4>
          <br>
          <br>
          <br>
          <h4>Educación Superior</h4>
          <br>
        <h4>Actualmente estoy cursando cuarto año de la carrera de Ingeniería de Sistemas, personalmente creo que es una carrera que tiene un campo laboral amplio y tiene infinidad de aplicaciones; es una carrera exigente se requiere de varias horas de trabajo y esfuerzo.
        </h4>
        </div>
    </body>

  