<body style="background-color:#F781D8"> 
        <table style align="center">
            <tr><h2>EXPERIENCIA</h2></tr>
            <br>
            <br>
        </table>
    <div style="float: left; width: 45%" >
        <h3>Educacion Universitaria</h3>
        <br>
        <h4>Estudio en la universidad Católica Boliviana la carrera de Ingeniería de Sistemas, ya es mi 4 cuarto año planeo acabar la carrera hasta fin de año del 2018</h4>
        <br><br>
        <h3>Trabajos</h3>
        <br>
        <h4>Tuve muy pocos trabajos en mi vida, la mayoria eran trabajos vacacionales, por el momento todavia no pude trabajar en el área de la carrera, pero espero hacerlo pronto. </h4>
        <br><br>
        <h3>Trabajos voluntariados</h3>
        <br>
        <h4>Personalmente considero que el ayudar al projimo es una forma de limpiar el mundo poco a poco y poder hacer un cambio en el mismo. Durante toda mi vida me dedique a realizar trabajos voluntarios, campañas de donaciones. Trabaje por dos años en una casa hogar como asesora el hogar contaba con 250 niños que algunas veces tuve que cuidarlos sola, hoy en día soy parte de un grupo de voluntariado llamado Start Bolivia el cual apoyo y soy parte de 2 de sus 3 proyectos.</h4>
    </div>
    <div style="float: right; width: 45%" >
        <h3>Educacion Escolar</h3>
        <br>
        <h4>Me gradué del colegio Isaac Attie, me gradué con honores los últimos 3 años de colegio estuve en el cuadro de honor, tambien participe en las olimpiadas de matemáticas, física y química durante toda mi vida escolar. Al momento de salir bachiller recibe becas de varias universidades.</h4>  
        <br><br>
        <h3>Deportes</h3>
        <br>
        <h4>Durante mi vida escolar participe de varios deportes, estuve en el equipo de atletismo de mi colegio por 6 años, practique Karate por 7 años primero como disciplina escolar y luego continue entrenando en una escuela, practique voley y basquet por un par de años. </h4> 
    </div>
  </body>