<p>
    <body style="background-color: #2EFEF7"> 
      <div id="main">
        <table style="width: 30%" align="center">
          <tr><h2>EXPERIENCE</h2></tr>
          <br>
          <br>
        </table>
      </div>
      <table style="width: 80%">

        <h3><tr>Educación</tr></h3>
        <br>
        <h4><tr>Universidad Catolica Boliviana</tr></h4>
        <h5><tr>2014 -2017</tr>
          <tr> Cochabamba - Bolivia</tr>
        </h5>
        <br>
        <h4>
          <tr>Rio Nuevo Berea</tr>
        </h4>
        <h5>
          <tr>2002</tr>
          <tr>Santa Cruz - Bolivia</tr>
        </h5>
          <br>
          <h4>
          <tr>Instituto Americano Juan Wesley</tr>
        </h4>
        <h5>
          <tr>2003 - 2005</tr>
          <tr>Santa Cruz - Bolivia</tr>
          <br>
        </h5>
         <h4>
          <tr>Colegio Isaac Attie></tr>
        </h4>
        <h5>
          <tr>2006 -2013</tr>
          <tr>Cochabamba - Bolivia</tr>
        </h5>
      </table>
    </body>
  </p>
  